@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply font-sans;
}

.rectangle-background {
  clip-path: polygon(0 55%, 100% 30%, 100% 100%, 0% 100%);
}

@media (min-width: 768px) {
  .rectangle-background {
    clip-path: polygon(100% 18%, 100% 100%, 0 100%);
  }
}
